<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.touhuwai.mapper.CommunityMapper">
    
    <resultMap id="BaseResultMap" type="com.touhuwai.entity.Community">
        <id column="id" property="id"/>
        <result column="community_no" property="communityNo"/>
        <result column="building_name" property="buildingName"/>
        <result column="building_address" property="buildingAddress"/>
        <result column="coord_lat" property="coordLat"/>
        <result column="coord_lng" property="coordLng"/>
        <result column="city" property="city"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, community_no, building_name, building_address, coord_lat, coord_lng, city, created_at, updated_at
    </sql>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM community
        WHERE id = #{id}
    </select>
    
    <select id="selectByCommunityNo" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM community
        WHERE community_no = #{communityNo}
    </select>
    
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM community
        ORDER BY id DESC
    </select>
    
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM community
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                    community_no LIKE CONCAT('%', #{keyword}, '%')
                    OR building_name LIKE CONCAT('%', #{keyword}, '%')
                    OR building_address LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="communityNo != null and communityNo != ''">
                AND community_no = #{communityNo}
            </if>
            <if test="communityNoLike != null and communityNoLike != ''">
                AND community_no LIKE CONCAT('%', #{communityNoLike}, '%')
            </if>
            <if test="buildingName != null and buildingName != ''">
                AND building_name = #{buildingName}
            </if>
            <if test="buildingNameLike != null and buildingNameLike != ''">
                AND building_name LIKE CONCAT('%', #{buildingNameLike}, '%')
            </if>
            <if test="buildingAddress != null and buildingAddress != ''">
                AND building_address = #{buildingAddress}
            </if>
            <if test="buildingAddressLike != null and buildingAddressLike != ''">
                AND building_address LIKE CONCAT('%', #{buildingAddressLike}, '%')
            </if>
            <if test="city != null and city != ''">
                AND city = #{city}
            </if>
            <if test="cityList != null and cityList != ''">
                AND city IN
                <foreach collection="cityList.split(',')" item="cityItem" open="(" separator="," close=")">
                    #{cityItem}
                </foreach>
            </if>
            <if test="coordLatMin != null">
                AND coord_lat >= #{coordLatMin}
            </if>
            <if test="coordLatMax != null">
                AND coord_lat &lt;= #{coordLatMax}
            </if>
            <if test="coordLngMin != null">
                AND coord_lng >= #{coordLngMin}
            </if>
            <if test="coordLngMax != null">
                AND coord_lng &lt;= #{coordLngMax}
            </if>
            <if test="createdAtBegin != null">
                AND created_at >= #{createdAtBegin}
            </if>
            <if test="createdAtEnd != null">
                AND created_at &lt;= #{createdAtEnd}
            </if>
            <if test="updatedAtBegin != null">
                AND updated_at >= #{updatedAtBegin}
            </if>
            <if test="updatedAtEnd != null">
                AND updated_at &lt;= #{updatedAtEnd}
            </if>
        </where>
        ORDER BY id DESC
    </select>
    
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM community
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                    community_no LIKE CONCAT('%', #{keyword}, '%')
                    OR building_name LIKE CONCAT('%', #{keyword}, '%')
                    OR building_address LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="communityNo != null and communityNo != ''">
                AND community_no = #{communityNo}
            </if>
            <if test="communityNoLike != null and communityNoLike != ''">
                AND community_no LIKE CONCAT('%', #{communityNoLike}, '%')
            </if>
            <if test="buildingName != null and buildingName != ''">
                AND building_name = #{buildingName}
            </if>
            <if test="buildingNameLike != null and buildingNameLike != ''">
                AND building_name LIKE CONCAT('%', #{buildingNameLike}, '%')
            </if>
            <if test="buildingAddress != null and buildingAddress != ''">
                AND building_address = #{buildingAddress}
            </if>
            <if test="buildingAddressLike != null and buildingAddressLike != ''">
                AND building_address LIKE CONCAT('%', #{buildingAddressLike}, '%')
            </if>
            <if test="city != null and city != ''">
                AND city = #{city}
            </if>
            <if test="cityList != null and cityList != ''">
                AND city IN
                <foreach collection="cityList.split(',')" item="cityItem" open="(" separator="," close=")">
                    #{cityItem}
                </foreach>
            </if>
            <if test="coordLatMin != null">
                AND coord_lat >= #{coordLatMin}
            </if>
            <if test="coordLatMax != null">
                AND coord_lat &lt;= #{coordLatMax}
            </if>
            <if test="coordLngMin != null">
                AND coord_lng >= #{coordLngMin}
            </if>
            <if test="coordLngMax != null">
                AND coord_lng &lt;= #{coordLngMax}
            </if>
            <if test="createdAtBegin != null">
                AND created_at >= #{createdAtBegin}
            </if>
            <if test="createdAtEnd != null">
                AND created_at &lt;= #{createdAtEnd}
            </if>
            <if test="updatedAtBegin != null">
                AND updated_at >= #{updatedAtBegin}
            </if>
            <if test="updatedAtEnd != null">
                AND updated_at &lt;= #{updatedAtEnd}
            </if>
        </where>
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO community (
            community_no, building_name, building_address, coord_lat, coord_lng, city
        ) VALUES (
            #{communityNo}, #{buildingName}, #{buildingAddress}, #{coordLat}, #{coordLng}, #{city}
        )
    </insert>
    
    <insert id="batchInsert">
        INSERT INTO community (
            community_no, building_name, building_address, coord_lat, coord_lng, city
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.communityNo}, #{item.buildingName}, #{item.buildingAddress}, 
             #{item.coordLat}, #{item.coordLng}, #{item.city})
        </foreach>
    </insert>
    
    <update id="update">
        UPDATE community
        <set>
            <if test="communityNo != null">community_no = #{communityNo},</if>
            <if test="buildingName != null">building_name = #{buildingName},</if>
            <if test="buildingAddress != null">building_address = #{buildingAddress},</if>
            <if test="coordLat != null">coord_lat = #{coordLat},</if>
            <if test="coordLng != null">coord_lng = #{coordLng},</if>
            <if test="city != null">city = #{city}</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById">
        DELETE FROM community WHERE id = #{id}
    </delete>
    
    <delete id="batchDelete">
        DELETE FROM community WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="selectByCity" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM community
        WHERE city = #{city}
        ORDER BY id DESC
    </select>

    <!-- 根据查询参数查询社区列表 -->
    <select id="selectListByParam" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM community
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                    community_no LIKE CONCAT('%', #{keyword}, '%')
                    OR building_name LIKE CONCAT('%', #{keyword}, '%')
                    OR building_address LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="communityNo != null and communityNo != ''">
                AND community_no = #{communityNo}
            </if>
            <if test="communityNoLike != null and communityNoLike != ''">
                AND community_no LIKE CONCAT('%', #{communityNoLike}, '%')
            </if>
            <if test="buildingName != null and buildingName != ''">
                AND building_name = #{buildingName}
            </if>
            <if test="buildingNameLike != null and buildingNameLike != ''">
                AND building_name LIKE CONCAT('%', #{buildingNameLike}, '%')
            </if>
            <if test="buildingAddress != null and buildingAddress != ''">
                AND building_address = #{buildingAddress}
            </if>
            <if test="buildingAddressLike != null and buildingAddressLike != ''">
                AND building_address LIKE CONCAT('%', #{buildingAddressLike}, '%')
            </if>
            <if test="city != null and city != ''">
                AND city = #{city}
            </if>
            <if test="cityList != null and cityList != ''">
                AND city IN
                <foreach collection="cityList.split(',')" item="cityItem" open="(" separator="," close=")">
                    #{cityItem}
                </foreach>
            </if>
            <if test="coordLatMin != null">
                AND coord_lat &gt;= #{coordLatMin}
            </if>
            <if test="coordLatMax != null">
                AND coord_lat &lt;= #{coordLatMax}
            </if>
            <if test="coordLngMin != null">
                AND coord_lng &gt;= #{coordLngMin}
            </if>
            <if test="coordLngMax != null">
                AND coord_lng &lt;= #{coordLngMax}
            </if>
            <if test="createdAtBegin != null">
                AND created_at &gt;= #{createdAtBegin}
            </if>
            <if test="createdAtEnd != null">
                AND created_at &lt;= #{createdAtEnd}
            </if>
            <if test="updatedAtBegin != null">
                AND updated_at &gt;= #{updatedAtBegin}
            </if>
            <if test="updatedAtEnd != null">
                AND updated_at &lt;= #{updatedAtEnd}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <!-- 根据查询参数统计数量 -->
    <select id="countByParam" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM community
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                    community_no LIKE CONCAT('%', #{keyword}, '%')
                    OR building_name LIKE CONCAT('%', #{keyword}, '%')
                    OR building_address LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="communityNo != null and communityNo != ''">
                AND community_no = #{communityNo}
            </if>
            <if test="communityNoLike != null and communityNoLike != ''">
                AND community_no LIKE CONCAT('%', #{communityNoLike}, '%')
            </if>
            <if test="buildingName != null and buildingName != ''">
                AND building_name = #{buildingName}
            </if>
            <if test="buildingNameLike != null and buildingNameLike != ''">
                AND building_name LIKE CONCAT('%', #{buildingNameLike}, '%')
            </if>
            <if test="buildingAddress != null and buildingAddress != ''">
                AND building_address = #{buildingAddress}
            </if>
            <if test="buildingAddressLike != null and buildingAddressLike != ''">
                AND building_address LIKE CONCAT('%', #{buildingAddressLike}, '%')
            </if>
            <if test="city != null and city != ''">
                AND city = #{city}
            </if>
            <if test="cityList != null and cityList != ''">
                AND city IN
                <foreach collection="cityList.split(',')" item="cityItem" open="(" separator="," close=")">
                    #{cityItem}
                </foreach>
            </if>
            <if test="coordLatMin != null">
                AND coord_lat &gt;= #{coordLatMin}
            </if>
            <if test="coordLatMax != null">
                AND coord_lat &lt;= #{coordLatMax}
            </if>
            <if test="coordLngMin != null">
                AND coord_lng &gt;= #{coordLngMin}
            </if>
            <if test="coordLngMax != null">
                AND coord_lng &lt;= #{coordLngMax}
            </if>
            <if test="createdAtBegin != null">
                AND created_at &gt;= #{createdAtBegin}
            </if>
            <if test="createdAtEnd != null">
                AND created_at &lt;= #{createdAtEnd}
            </if>
            <if test="updatedAtBegin != null">
                AND updated_at &gt;= #{updatedAtBegin}
            </if>
            <if test="updatedAtEnd != null">
                AND updated_at &lt;= #{updatedAtEnd}
            </if>
        </where>
    </select>

</mapper>
